<!-- Display user question -->
<div style="background: rgba(15,15,15,0.1); font-family: monospace; border-left: 2px solid blue; padding: 16px; margin: 10px;">
<h2><%= @question %></h2>
<p>/You</p>
</div>
<div style="background: rgba(15,15,15,0.1);font-family: monospace; border-left: 2px solid blue; padding: 16px; margin: 10px;">
<h2><%= @answer %></h2>
<p>/Coach</p>
</div>
<%= link_to 'Ask a new question', ask_path %>

